@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

.mainContainer {
  display: grid;
  height: 100svh;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 25, 29);
}

.textH1 {
  font-size: 3.9em;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-family: 'Cutive Mono', monospace;
}

.inlineDiv {
  border: 3px white solid;
  background-color: black;
  border-radius: 10px;
  padding: 2rem;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 2rem;
  height: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

.button:disabled,
.button[disabled] {
  background-color: rgb(15, 15, 15);
  border: wheat;
  color: white;
  border-radius: 0.2em;
}

.keyboard {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(5, 2rem);
  gap: 1rem;
  justify-content: center;
}

.buttonInactive {
  background-color: rgb(15, 15, 15);
  border: wheat;
}

.wordShower {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.toDisplay {
  border-bottom: 2px rgba(255, 255, 255, 0.743) solid;
  border-radius: 0px;
  height: 3em;
  width: 2.3em;
  display: grid;
  justify-content: center;
}

.toDisplayText {
  font-size: 2.8em;
  font-family: 'Martian Mono', monospace;
  font-weight: 200;
  transform: translateY(-1em);

  color: white;
}
