.popup-content {
  background: radial-gradient(circle, rgb(46, 0, 88) -20%, rgb(87, 0, 150) 100%);
  border: 0px white solid;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.058) 0px 0px 100px 40px;
  color: white;
}
