@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  margin: 0;

  height: 100svh;
  background: black;
}
#root {
  margin: 0;
  display: grid;
  place-items: center;
  height: 100svh;
}

.mainApp {
  border: 3px white solid;

  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleHp {
  font-size: 3.9em;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-family: 'Cutive Mono', monospace;
  color: white;
}

.keyboard {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(5, 2rem);
  gap: 1.3rem;
  justify-content: center;
}

.keyCap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem;
  aspect-ratio: 1/1;
  border-radius: 8px;
  background-color: black;
  backdrop-filter: blur(3px);
  border: 2px solid rgb(0, 0, 0);

  color: white;
  font-size: 1.25em;
  font-family: 'Lato', monospace;
  font-weight: 400;
  transition: 0.4s ease;
  &:hover {
    background-color: rgb(255, 255, 255);
  }

  &:disabled,
  &[disabled] {
    transition: 0.2s ease-in-out;
    background-color: rgb(135, 135, 135);

    color: rgb(0, 0, 0);
  }
}

.wordShower {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.theLetterContainer {
  border-bottom: 2px rgba(255, 255, 255, 0.69) solid;

  color: white;
  border-radius: 3px;
  height: 3em;
  width: 2.3em;
  display: grid;
  justify-content: center;
}

.theLetter {
  color: white;
  font-size: 2.8em;
  font-family: 'Martian Mono', monospace;
  font-weight: 200;
  transform: translateY(-1.03em);
}
