$background-primary: color(display-p3 0.17 0 0.38);
$background-secondary: color(display-p3 0 0 0);
$background-dimmed: color(display-p3 0 0 0 / 0.24);
$background-keycap: color(display-p3 0.29 0.21 1 / 0.1);
$background-keycap-hover: color(display-p3 0.43 0.13 1 / 0.34);

$title-shadow-color: color(display-p3 0.87 0.09 0.96);
$main-shadow-color: color(display-p3 0.87 0.09 0.96 / 0.2);
